<!DOCTYPE html>
<html>
<head>
    <title>Señales de Trading</title>
    <style>
        table {
            width: 80%;
            border-collapse: collapse;
            margin: 20px auto;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .buy {
            color: green;
            font-weight: bold;
        }
        .sell {
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Señales de Trading de Criptomonedas</h1>
    <table>
        <thead>
            <tr>
                <th>Crypto</th>
                <th>Actual Pric.</th>
                <th>Highest 1H</th>
                <th>Lower 1H</th>
                <th>AVG Price</th>
                <th>Signal(B|S)</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
    <script>
        // Ejemplo de actualización dinámica con JavaScript (opcional)
        function actualizarPrecios() {
            fetch('/api/crypto')
                .then(response => response.json())
                .then(signals => {
                    // Actualizar el contenido de la página con los nuevos datos
                    let body = document.querySelector('tbody');
                    body.innerHTML = ''; // Limpiar body
                    signals.forEach(signal => {
                        let row = document.createElement('tr');
                        
                        let nameCell = document.createElement('td');
                        let priceCell = document.createElement('td');
                        let highestCell = document.createElement('td');
                        let lowerCell = document.createElement('td');
                        let avgCell = document.createElement('td');
                        let signalCell = document.createElement('td');

                        nameCell.textContent = signal.name;
                        priceCell.textContent = signal.actual_price;
                        highestCell.textContent = signal.highest_1h;
                        lowerCell.textContent = signal.lower_1h;
                        avgCell.textContent = signal.avg_price;
                        signalCell.textContent = signal.signal;

                        row.appendChild(nameCell);
                        row.appendChild(priceCell);
                        row.appendChild(highestCell);
                        row.appendChild(lowerCell);
                        row.appendChild(avgCell);
                        row.appendChild(signalCell);
                        
                        body.appendChild(row);
                    });
                });
        }
        setInterval(actualizarPrecios, 2000); // Actualizar cada minuto (60000 ms)
        //actualizarPrecios()
    </script>
</body>
</html>